<html> 
  
<head> 
    <title>PDF FILE UPLOAD </title> 
</head> 
  
<body bgcolor="lightblue">
	<br>
    <h1>SET THE CONTEXT OF OPENAI CHATBOT CONVERSATION !!</h1> <br>
    <h2>Browse PDF file and click on Submit button</h2> <br>
   
    <form action="/uploadData" 
      enctype="multipart/form-data" method="POST"> 
      
        <h3>Upload PDF File:</h3>   
        <input type="file" name="myfile" required/> &nbsp
        <input type="submit" value="submit">  
    </form> 
</body> 
  
</html> 